<!-- <div style="position: fixed; width: 100%; height: 50px; background: cyan;">

</div> -->
<!-- <div style="background-color:darkcyan">
<div style="position: absolute; box-sizing:border-box; -moz-box-sizing:border-box; padding-top: 100px; padding-bottom: 50px; width: 100%; height: 100%;">
  <div id="mainSplitter">
      <div>
          <div id="rightSplitter">
              <div> -->
                  <app-header></app-header>
                 <router-outlet></router-outlet>
              <!-- </div>
          </div>
      </div>
  </div>
  </div>
    </div> -->
<div style="position: fixed; bottom: 10px; width: 100%; height: 50px;">
<app-footer></app-footer>
</div>


