
<form (ngSubmit)="add()">
    <table  style="margin-left:auto; margin-right: auto;">
        
        <tr>
            <td><label for="id">Name :</label></td>
            <td><input type="text" id="customername" name="customername" [(ngModel)]="customername"></td>
        </tr>
        <tr>
            <td><label for="id">Password :</label></td>
            <td><input type="password" id="password" name="password" [(ngModel)]="password"></td>
        </tr>
        <tr>
            <td><label for="id">Address :</label></td>
            <td><input type="text" id="address" name="address" [(ngModel)]="address"></td>
        </tr>
        <tr>
            <td><label for="id">Phone :</label></td>
            <td><input type="text" id="phoneno" name="phoneno" [(ngModel)]="phoneno"></td>
        </tr>
        <br>
        <tr>
            <td><button style="font-size: 13px; padding: 5px 9px;" id="btn2" value="click" routerLink="/home">Back</button></td>
            <td><button type="submit" style="font-size: 13px; padding: 5px 9px;" id="btn2">submit</button></td>
            
        </tr>
    </table>
    <div *ngIf="successMessage" class="text-success">
        {{ successMessage }}
      </div>
</form>



